
.text {
    font-size:28px;
    font-family:helvetica;
    font-weight:bold;
    color:#72d9fb;
    text-transform:uppercase;
  }
  .parpadea {
    
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  .h1{
    font-family: Verdana;
    color:#708090;
    font-weight: bold


  }

  .h2{
    font-family: Verdana;
    color: blue;
    font-weight: bold;

  }

  #map {
    height: 100%;
  }
 
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 11px;
    margin: 10px;
    border: 3px solid #000;
  
  }
  #legend h3 {
    margin-top: 0;
  }
  #legend img {
    vertical-align: middle;
  }
  